<mat-expansion-panel name='expansionPanel' #expansionPanel (opened)='panelOpened()' (closed)='panelClosed()'>
  <mat-expansion-panel-header class='product-panel-header'>
    <mat-panel-title style="align-items: center">
      <div>
          <img class="icon-image" [src]="getProductPic(prodObj)" alt="icon-image" [hidden]='panelStateOpened'>
        {{prodObj.name}}
      </div>
    </mat-panel-title>
    <mat-panel-description>
      {{prodObj.productType.name}}
    </mat-panel-description>
  </mat-expansion-panel-header>
  <form [formGroup]='prodForm' (ngSubmit)='onUpdate(expansionPanel)'>
    <div>
      <img class="icon-image" [src]="getProductPic(prodObj)" alt="icon-image" [hidden]='!panelStateOpened' (click)='onImageClick(fileChooser)'> 
    </div>

    <mat-form-field *ngIf="editingState">
      <input matInput formControlName='name' name="name" placeholder="Product Name">
      <mat-error *ngIf='prodForm.get("name").errors && prodForm.get("name").errors.required'>
        Please enter a product Name !!
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName='size' type='number' name="packageSize" placeholder="Size">
      <mat-error *ngIf='prodForm.get("size").errors && prodForm.get("size").errors.required'>
        Please enter a Package Size
      </mat-error>
      <mat-error *ngIf='prodForm.get("size").errors && !prodForm.get("size").errors.required'>
        This must be a no. of max 3 char
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName='cp' type='number' name="costPrice" placeholder="Cost">
      <mat-error *ngIf='prodForm.get("cp").errors && prodForm.get("cp").errors.required'>
        Please enter a Package Size
      </mat-error>
      <mat-error *ngIf='prodForm.get("cp").errors && !prodForm.get("cp").errors.required'>
        This must be a no. of max 3 char
      </mat-error>
    </mat-form-field>

    <mat-form-field>
      <input matInput formControlName='sp' type='number' name="sellingPrice"placeholder="Selling">
      <mat-error *ngIf='prodForm.get("sp").errors && prodForm.get("sp").errors.required'>
        Please enter a Package Size
      </mat-error>
      <mat-error *ngIf='prodForm.get("sp").errors && !prodForm.get("sp").errors.required'>
        This must be a no. of max 3 char
      </mat-error>
    </mat-form-field>

    <input type="file" #fileChooser hidden (change)='onFileSelected($event)'>

    <mat-action-row *ngIf='editable'>
      <button mat-raised-button type='button' color='primary' *ngIf='!editingState' (click)='setEdit()'>
        <mat-icon aria-hidden="false" aria-label="Example thumbs up SVG icon">create</mat-icon>
      </button>
      <button mat-raised-button type='submit' color='primary' *ngIf='editingState'>
        Update
      </button>
    </mat-action-row>
  </form>
</mat-expansion-panel>