.product-panel-header {
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
}

.mat-expansion-panel-header-title {
    flex-basis: 0;
}

.mat-expansion-panel-header-description {
    flex-basis: 0;
}

.icon-image {
    height : 35px;
    width : 35px;
    border-radius: 35px;
    vertical-align: middle;
}