<div class="bill-table border" *ngIf="completeInventory">
  <div class="flex-center-content border">
    <strong>MUKHERJEE ENTERPRISE</strong>
  </div>
  <div class="row">
    <div class="flex-center-content ele-grow-1 border">
      GST: 19ANOPM5423G1ZQ
    </div>
    <div class="flex-center-content ele-grow-1 border">
      Date: {{selectedDate}}
    </div>
  </div>
  <div class="flex-center-content border">
    90 C, Selimpur Road, Kolkata - 700031
  </div>
  <div class="row">
    <div class="ele-grow-2 flex-center-content border">
      {{completeVendor.name}}
    </div>
    <div class="ele-grow-1 price-content border">
      <ng-template [ngIf]="completeVendor.totalLoan">
        {{completeVendor.totalLoan.toFixed(2)}}
      </ng-template>
    </div>
    <div class="ele-grow-1 price-content border">
      <ng-template [ngIf]="completeVendor.openingDp">
        {{completeVendor.openingDp.toFixed(2)}}
      </ng-template>
    </div>
  </div>
  <div class="product-table">
    <div class="flex-center-content border">Product Name</div>
    <div class="flex-center-content border">Unit</div>
    <div class="flex-center-content border">MRP</div>
    <div class="flex-center-content border">Amount</div>
    <ng-template ngFor let-row [ngForOf]="completeInventory.rows!">
      <div class="product-type flex-center-content border" *ngIf="row.id.startsWith('pty'); else productRow">
        {{row.name}}
      </div>
      <ng-template #productRow>
        <div class="flex-center-content border" *ngIf="row.vendorValue[completeVendor.id]">
          {{row.name}}
        </div>
        <div class="flex-center-content border" *ngIf="row.vendorValue[completeVendor.id]">
          {{row.vendorValue[completeVendor.id]}}
        </div>
        <div class="price-content border" *ngIf="row.vendorValue[completeVendor.id]">
          {{row.prodDets!.sellingPrice!.toFixed(2)}}
        </div>
        <div class="price-content border" *ngIf="row.vendorValue[completeVendor.id]">
          {{(row.vendorValue[completeVendor.id] * row.prodDets!.sellingPrice!.valueOf()).toFixed(2)}}
        </div>
      </ng-template>
    </ng-template>
    <div class="flex-center-content border">Gross Total</div>
    <div class="border"></div>
    <div class="border"></div>
    <div class="price-content border">{{getGrossTotal().toFixed(2)}}</div>
    <div class="flex-center-content border">Less Discount</div>
    <div class="border"></div>
    <div class="border"></div>
    <div class="price-content border">{{getTotalDiscount().toFixed(2)}}</div>
    <div class="flex-center-content border">Deposit</div>
    <div class="border"></div>
    <div class="border"></div>
    <div class="price-content border">
      <ng-template [ngIf]="completeVendor.deposit">
        {{completeVendor.deposit.toFixed(2)}}
      </ng-template>
    </div>
    <div class="flex-center-content border">Net Total</div>
    <div class="border"></div>
    <div class="border"></div>
    <div class="price-content border">{{getNetTotal().toFixed(2)}}</div>
  </div>
</div>