.bill-table {
    font-size: 10px;
    display: flex;
    flex-direction: column;
    width: 235px;    
    .row {
        flex-direction: row;
    }
}


.border {
    border: 1px solid black;
}

.ele-grow-2 {
    flex-grow: 2;
}

.ele-grow-1 {
    flex-grow: 1;
}

.flex-center-content {
    display: flex;
    justify-content: center;
}

.price-content {
    display: flex;
    justify-content: flex-end;
    padding-right: 3px;
    align-items: center;
}

.price-content::before {
    content: '\20B9\00a0';
}

.product-table {
    display: grid;
    grid-template-columns: 45% 10% 22.5% 22.5%;
    .product-type {
        grid-column: span 4;
    }
}