<div class="bill-table border">
  <div class="border">
    <p>
      MUKHERJEE ENTERPRISE
    </p>
  </div>
  <div class="row">
    <div class="border">
      <p>
        GST: 19ANOPM5423G1ZQ
      </p>
    </div>
    <div class="border">
      <p>
        Date: {{selectedDate}}
      </p>
    </div>
  </div>
  <div class="border">
    <p>90 C, Selimpur Road, Kolkata - 700031</p>
  </div>
  <div class="row">
    <div class="border">
      <p>{{completeVendor.name}}</p>
    </div>
  </div>
</div>