@import 'src/styles/variables';

.inventory-table-div {
    overflow: auto;
    width: 96%;
    margin: 2%;
}
.inventory-table {
    background: $teal;
    width: 100%;
    /* height: 2000px ; */
    ::ng-deep .mat-mdc-form-field > * {
        background-color: $teal;
    }

}

.productType {
    background: $rackley;
    font-style: italic;
    font-weight: bold; 
}

.mat-column-productName {
    flex: 0 0 150px;
}

.mat-column-stockOpening {
    flex: 0 0 60px;
}

.mat-column-stockBalance {
    flex: 0 0 60px;
}

.mat-column-stockTotalIn {
    flex: 0 0 60px;
}

.mat-column-stockSenIn {
    flex: 0 0 60px;
}

.mat-column-stockOthersIn {
    flex: 0 0 60px;
}

.mat-column-stockTotalOut {
    flex: 0 0 60px;
}

// .vendorTooltip {
    // background: red;
// }

button.save-button {
    color: $hover-text-color-light;
    background: $blue;
    margin-left: 2%;
    margin-right: 2%;
    width: 96%;
    &_top {
        margin-top: 2%;
    }
    &_bottom {
        margin-bottom: 2%;
    }
    transition: $transition-time;
    
    &:hover {
        color: $hover-text-color-dark;
        background: $green;
    }
}
