<div>
  <div>
    <button @fadeIn @dropDown mat-raised-button type="button" class="save-button" (click)="saveButtonPressed()">
      Save Inventory
    </button>
  </div>
  <div @fadeIn class="inventory-table-div mat-elevation-z10">
    <mat-table [dataSource]="dataSource" class="inventory-table">
      <ng-container matColumnDef="productId">
        <mat-header-cell *matHeaderCellDef>Product Id</mat-header-cell>
        <mat-cell *matCellDef="let inventoryRow">
          {{ inventoryRow.id }}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="productName" sticky>
        <mat-header-cell class="inventory-name-colum" *matHeaderCellDef>Product Name</mat-header-cell>
        <mat-cell
          *matCellDef="let inventoryRow"
          [ngClass]="getRowTypeClass(inventoryRow)">
          <span [matTooltip]="getProdDetails(inventoryRow)">
            {{ inventoryRow.name }}
          </span>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="stockOpening" sticky>
        <mat-header-cell *matHeaderCellDef>Stock<br>Opening</mat-header-cell>
        <mat-cell
          *matCellDef="let inventoryRow"
          [ngClass]="getRowTypeClass(inventoryRow)" sticky>
          {{ inventoryRow.stockOpening }}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="stockBalance" sticky>
        <mat-header-cell *matHeaderCellDef>
          <span [matTooltip]="getBalance()">
            Balance
          </span>
        </mat-header-cell>
        <mat-cell
          *matCellDef="let inventoryRow"
          [ngClass]="getRowTypeClass(inventoryRow)">
          {{ inventoryRow.stockBalance }}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="stockTotalIn" sticky>
        <mat-header-cell *matHeaderCellDef>
          <span [matTooltip]="getTotalIn()">
            Total<br>In
          </span>
        </mat-header-cell>
        <mat-cell
          *matCellDef="let inventoryRow"
          [ngClass]="getRowTypeClass(inventoryRow)">
          {{ inventoryRow.stockTotalIn }}
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="stockSenIn" sticky>
        <mat-header-cell *matHeaderCellDef>
          <span [matTooltip]="getTotalSenIn()">
            Sen<br>In
          </span>
        </mat-header-cell>
        <mat-cell
          *matCellDef="let inventoryRow"
          [ngClass]="getRowTypeClass(inventoryRow)">
          <div *ngIf="isRowProductType(inventoryRow); else stockSenIn"></div>
          <ng-template #stockSenIn>
            <input
              type="number"
              matInput
              [(ngModel)] = "inventoryRow.stockSenIn"
              name="stockSenIn"
              #stockSenIn="ngModel"
              id="stockSenIn"
              (blur)="validateSenIn(inventoryRow);syncTotalIn(inventoryRow)">
          </ng-template>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="stockOthersIn" sticky>
        <mat-header-cell *matHeaderCellDef>
          <span [matTooltip]="getTotalOthersIn()">
            Others<br>In
          </span>
        </mat-header-cell>
        <mat-cell
          *matCellDef="let inventoryRow"
          [ngClass]="getRowTypeClass(inventoryRow)">
          <div *ngIf="isRowProductType(inventoryRow); else stockOthersIn"></div>
          <ng-template #stockOthersIn>
            <input
              type="number"
              matInput
              [(ngModel)] = "inventoryRow.stockOthersIn"
              name="stockOthersIn"
              #stockOthersIn="ngModel"
              id="stockOthersIn"
              (blur)="validateOthersIn(inventoryRow);syncTotalIn(inventoryRow)">
          </ng-template>
        </mat-cell>
      </ng-container>
      <ng-container matColumnDef="stockTotalOut" sticky>
        <mat-header-cell *matHeaderCellDef>
          <span [matTooltip]="getTotalOut()">
            Total<br>Out
          </span>
        </mat-header-cell>
        <mat-cell 
          *matCellDef="let inventoryRow"
          [ngClass]="getRowTypeClass(inventoryRow)">
          {{ inventoryRow.stockTotalOut }}
        </mat-cell>
      </ng-container>
      <ng-container *ngFor="let vendorData of (dataSource.vendorObservable|async); trackBy: vendorTrackBy" [matColumnDef]="vendorData._id">
        <mat-header-cell *matHeaderCellDef>
          <span [matTooltip]="getVenDetails(vendorData)" [matTooltipClass]="'vendorTooltip'">
            {{vendorData.name}}
            <br>
            Deposit : {{vendorData.deposit}}
            <!-- <mat-form-field>
              <input
              matInput
              [(ngModel)] = "vendorData.deposit"
              name="vendorDeposit"
              #vendorDeposit="ngModel"
              id="vendorDeposit">
            </mat-form-field> -->
          </span>
        </mat-header-cell>
        <mat-cell
          *matCellDef="let inventoryRow"
          [ngClass]="getRowTypeClass(inventoryRow)">
          <div *ngIf="isRowProductType(inventoryRow); else productData"></div>
          <ng-template #productData>
            <input
              type="number"
              matInput
              [(ngModel)] = "inventoryRow.vendorValue[vendorData._id]"
              name="vendorValue"
              #vendorValue="ngModel"
              id="vendorValue"
              (blur)="validateVendorValue(inventoryRow, vendorData._id);syncTotalOut(inventoryRow)">
          </ng-template>
        </mat-cell>
      </ng-container>
      <mat-header-row *matHeaderRowDef="columnsToDisplay; sticky: true"></mat-header-row>
      <mat-row *matRowDef="let row; columns: columnsToDisplay"></mat-row>
    </mat-table>
  </div>
</div>