.edit-slider-div {
    margin-top: 1.5vw;
    margin-left: 2.5vw;
    margin-bottom: 1.5vw;
    margin-right: 2.5vw;
    display: flex;
    justify-content: flex-start;
    height: 30px;
    width: 93%;
}

.edit-slider-div>mat-slide-toggle {
    flex-grow: 1;
    height: 30px;
}

.save-button-div {
    flex-grow: 8;
}

.save-button {
    background: rgb(101, 193, 247);
    margin-left: 1vw;
    margin-top: 0px;
    margin-bottom: 0px;
    width: 100%;
}

.inventory-table-div {
    overflow: auto;
    height: 435px;
    width: 96%;
    margin: 2%;
}

.inventory-table {
    background: rgb(192, 230, 218);
    width: 1500px;
}

.inventory-table>mat-header-row {
    height: 70px;
}

.productType {
    background: rgb(98, 128, 156);
    font-style: italic;
    font-weight: bold;
}

.mat-column-productName {
    flex: 0 0 150px;
}

.mat-column-stockOpening {
    flex: 0 0 60px;
}

.mat-column-stockBalance {
    flex: 0 0 60px;
}

.mat-column-stockTotalIn {
    flex: 0 0 60px;
}

.mat-column-stockSenIn {
    flex: 0 0 60px;
}

.mat-column-stockOthersIn {
    flex: 0 0 60px;
}

.mat-column-stockTotalOut {
    flex: 0 0 60px;
}

.vendorTooltip {
    background: red;
}

.spinner-div {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}