.sidenav-container {
  height: 100%;
}

.sidenav {
  width: 200px;
}

.mat-toolbar.mat-primary {
  position: sticky;
  top: 0;
}

@media print {
  .isPrinting {
    display: none;
  }
}

.fill-remaining-space {
  flex: 1 1 auto;
}

.active {
  background: rgb(145, 185, 201);
}

mat-form-field.datePicker {
  width: 130px;
}

input.datePicker {
  color: rgb(0, 0, 0);
}

input.datePickerDiff {
  color: rgb(228, 0, 0);
}

.icon-image {
  height: 35px;
  width: 20px;
}

.icon-image-div {
  background-color: white;
  width: 35px;
  height: 35px;
  text-align: center;
  border-radius: 35px;
}

.spacer {
  width: 10px;
}