@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "material-design-icons/iconfont/material-icons.css";
body {
    margin: 0px;
}

.row {
    display: flex
}

.element {
    flex-grow: 1;
}

.remarks {
    height: 11px;
}

button.yes {
    background: rgb(101, 193, 247);
}

button.no {
    background: rgb(240, 152, 152);
}