//colors
$hover-text-color-dark: #585858;
$hover-text-color-light: #ffffff;
$blue: #65c1f7;
$teal: #c0e6da;
$green: #8bfc75;
$rackley: #62809c;
$pink: #ffbbdb;
$yellow: #fff098;

//transitions
$transition-time: 0.5s;