@import 'src/styles/variables';

.selling-data-div {
    overflow: auto;
    margin: 2%;
    width: 96%
}
.inner-boundary {
    margin: 2%;
}

.selling-table {
    display: grid;
    grid-template-columns: 50vw 10vw 10vw 10vw;
    grid-column-gap: 0.5vw;
    // grid-row-gap: 1.5%;
    justify-content: center;
    margin-bottom: 33px;
}

.vendor-details {
    grid-column: span 4;
    margin-bottom: 10px;
}

.product-header,
.unit-sold-header,
.total-price-header,
.action-header {
    .mat-card {
        background-color: $green;
    }
}

.product-card {
    align-self: stretch;
    margin-top: 10px;
}

.mat-card {
    height: 100%;
    min-height: 48px;
    padding-top: 0%;
    padding-bottom: 0%;
    display: flex;
    align-items: center;
}
.header-row {
    margin: 2%;
    display: flex;
    justify-content: space-between;
}

.ven-value-card {
    .mat-card {
        background: $blue;
    }
    margin-top: 10px;
    ::ng-deep .mat-form-field-infix {
        width: 100% !important;
    }
}
.price-card,
.action-card {
    .mat-card {
        background: $blue
    }
    margin-top: 10px;
}

.product-action-row {
    margin: 2%;
    display: flex;
    flex-flow: row;
    justify-content: space-between;
}

.button-group {
    width: 12vw; 
    display:flex;
    flex-direction: row;
    justify-content: space-between;
}

.button-group>button {
    margin-top: 5vh; 
    margin-bottom: 5vh;
}

.product-panel-header {
    padding-top: 1.5vh;
    padding-bottom: 1.5vh;
}