<div @fade class="selling-data-div mat-elevation-z10">
  <div class='inner-boundary'>
    <div class='header-row'>
      <mat-form-field>
        <mat-select required [(ngModel)]="selectedVendorId" name="vendor" #vendorList="ngModel" id="vendorList"
          placeholder="Vendor">
          <mat-option *ngFor="let completeVendor of completeVendors" [value]="completeVendor.id">
            {{completeVendor.name}}
          </mat-option>
        </mat-select>
        <mat-hint>Vendor to Sell to !!</mat-hint>
        <mat-error *ngIf="vendorList.invalid && vendorList.errors.required">
          Please select a Vendor !!
        </mat-error>
      </mat-form-field>
      <div [hidden]='!isVendorSelected()'>
        <mat-form-field>
          <input matInput required [depositValidator]='getTotalAmountSold()' type="number" pattern="^[0-9]+(\.[0-9]{1,2})?$" [(ngModel)]="selectedVendor.deposit"
            name="deposit" #deposit="ngModel" id="deposit" placeholder="Deposit">
          <mat-error *ngIf="deposit.invalid && deposit.errors.required">
            Please enter a Deposit amount
          </mat-error>
          <mat-error *ngIf="deposit.invalid && deposit.errors.pattern">
            Deposit is not of currency format
          </mat-error>
          <mat-error *ngIf="deposit.invalid && deposit.errors.depositValidator">
            Not Enough Products Sold. Please Select More
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <div class="selling-table">
      <div @fade *ngIf="isVendorSelected()" class="vendor-details">
        <app-vendor-detail [vendor]='selectedVendor' [editable]='false' *ngIf='isVendorSelected()'></app-vendor-detail>
      </div>
      <ng-template [ngIf]='showProductTable()'>
        <div @fade class="product-header">
          <mat-card>
            <strong>Product</strong>
          </mat-card>
        </div>
        <div @fade class="unit-sold-header">
          <mat-card>
            <strong>Units Sold</strong> : {{getTotalUnitsSold()}}
          </mat-card>
        </div>
        <div @fade class="total-price-header">
          <mat-card>
            <strong>Total Price</strong> : {{getTotalAmountSold()}}
          </mat-card>
        </div>
        <div @fade class="action-header">
          <mat-card>
            <strong>Action</strong>
          </mat-card>
        </div>
        <ng-template ngFor let-i="index" let-sellingProduct [ngForOf]="sellingProductList">
          <div @fade @dropDown class="product-card">
            <app-product-detail [product]='sellingProduct.product' [editable]='false'></app-product-detail>
          </div>
          <div @fade @dropDown class='ven-value-card'>
            <mat-card>
              <mat-form-field>
                <input matInput required [unitValidator]='getStockBalance(sellingProduct.product.id)' type="number"
                  maxlength="5" [(ngModel)]="sellingProduct.soldUnits" #unitsSold="ngModel" name="unitsSold"
                  (change)='deposit.control.updateValueAndValidity()'>
                <span matSuffix>/{{getStockBalance(sellingProduct.product.id)}}</span>
                <mat-error *ngIf="unitsSold.invalid && unitsSold.errors.required && (unitsSold.dirty || unitsSold.touched)">
                  Please provide a Unit Amount
                </mat-error>
                <mat-error *ngIf="unitsSold.invalid && unitsSold.errors.unitValidator && (unitsSold.dirty || unitsSold.touched)">
                  Sold Unit exceeds Available amount
                </mat-error>
              </mat-form-field>
            </mat-card>
          </div>
          <div @fade @dropDown class='price-card'>
            <mat-card>
              <label>Price : {{sellingProduct.getSoldPrice()}}</label>
            </mat-card>
          </div>
          <div @fade @dropDown class='action-card'>
            <mat-card>
              <button mat-button type='button' (click)='deleteProductFromList(i); deposit.control.updateValueAndValidity()'>
                <mat-icon aria-label="Side nav toggle icon">delete</mat-icon>
              </button>
            </mat-card>
          </div>
        </ng-template>
      </ng-template>
    </div>

    <div *ngIf='isVendorSelected()'>
      <div class="product-action-row">
        <mat-form-field appearance="outline">
          <mat-select required [(value)]="sellingProductId" #productList name="sellingProduct" id="productList"
            placeholder="Product">
            <mat-option value=""></mat-option>
            <mat-option *ngFor="let completeProduct of completeProducts" [value]="completeProduct.id">
              {{completeProduct.name + ' - ' +completeProduct.productType.name}}
            </mat-option>
          </mat-select>
          <mat-hint>Product to Sell !!</mat-hint>
          <mat-error *ngIf="productList.invalid && productList.errors.required">
            Please select a Product to sell !!
          </mat-error>
        </mat-form-field>
        <div class="button-group">
          <button mat-raised-button class='save-button' type="button" (click)="saveButtonPressed()">
            Save
          </button>
          <button mat-raised-button class='save-bill-button' type="button" (click)="saveAndBillButtonPressed()">
            Save & Bill
          </button>
        </div>
      </div>
    </div>
  </div>
</div>