<div @fadeIn class="selling-data-div mat-elevation-z10">
  <div class='inner-boundary'>
    <div class='header-row'>
      <mat-form-field>
        <mat-select required [(ngModel)]="selectedVendorId" name="vendor" #vendorList="ngModel" id="vendorList"
          placeholder="Vendor">
          <mat-option *ngFor="let vendor of vendors" [value]="vendor._id">
            {{vendor.name}}
          </mat-option>
        </mat-select>
        <mat-hint>Vendor to Sell to !!</mat-hint>
        <mat-error *ngIf="vendorList.invalid && vendorList.errors.required">
          Please select a Vendor !!
        </mat-error>
      </mat-form-field>
      <div *ngIf='isVendorSelected()' class="ven-details">
        <app-vendor [vendor]='selectedVendor' [editable]='false'></app-vendor>
      </div>
      <div [hidden]='!isVendorSelected()'>
        <mat-form-field>
          <input matInput required [depositValidator]='getTotalAmountSold()' type="number" pattern="^[0-9]+(\.[0-9]{1,2})?$" [(ngModel)]="vendorDeposit"
            name="deposit" #deposit="ngModel" id="deposit" placeholder="Deposit">
          <mat-error *ngIf="deposit.invalid && deposit.errors.required">
            Please enter a Deposit amount
          </mat-error>
          <mat-error *ngIf="deposit.invalid && deposit.errors.pattern">
            Deposit is not of currency format
          </mat-error>
          <mat-error *ngIf="deposit.invalid && deposit.errors.depositValidator">
            Not Enough Products Sold. Please Select More
          </mat-error>
        </mat-form-field>
      </div>
    </div>

    <table [hidden]='hideProductTable()'>
      <tr>
        <td>
          <mat-card>
            <strong>Product</strong>
          </mat-card>
        </td>
        <td>
          <mat-card>
            <strong>Units Sold</strong> : {{getTotalUnitsSold()}}
          </mat-card>
        </td>
        <td>
          <mat-card>
            <strong>Total Price</strong> : {{getTotalAmountSold()}}
          </mat-card>
        </td>
        <td>
          <mat-card>
            <strong>Action</strong>
          </mat-card>
        </td>
      </tr>
      <tr *ngFor="let sellingProduct of sellingProductList; let i = index">
        <td>
          <app-product [product]='sellingProduct.product' [editable]='false'></app-product>
        </td>
        <td>
          <mat-card class='ven-value-card'>
            <mat-form-field class="ven-value-elem">
              <input matInput required [unitValidator]='getStockBalance(sellingProduct.product._id)' type="number"
                maxlength="5" [(ngModel)]="sellingProduct.soldUnits" #unitsSold="ngModel" name="unitsSold"
                (change)='deposit.control.updateValueAndValidity()'>
              <span matSuffix>/{{getStockBalance(sellingProduct.product._id)}}</span>
              <mat-error *ngIf="unitsSold.invalid && unitsSold.errors.required && (unitsSold.dirty || unitsSold.touched)">
                Please provide a Unit Amount
              </mat-error>
              <mat-error *ngIf="unitsSold.invalid && unitsSold.errors.unitValidator && (unitsSold.dirty || unitsSold.touched)">
                Sold Unit exceeds Available amount
              </mat-error>
            </mat-form-field>
          </mat-card>
        </td>
        <td>
          <mat-card class='price-card'>
            <label>Price : {{sellingProduct.getSoldPrice()}}</label>
          </mat-card>
        </td>
        <td>
          <mat-card class='action-card'>
            <button
              mat-button
              type='button'
              (click)='deleteProductFromList(i); deposit.control.updateValueAndValidity()'
              [disabled]='!sellingProduct.enableDelete'>
              <mat-icon aria-label="Side nav toggle icon">delete</mat-icon>
            </button>
          </mat-card>
        </td>
      </tr>
    </table>
    <div [hidden]='!isVendorSelected()'>
      <div class="product-action-row">
        <mat-form-field appearance="outline">
          <input type="text"
            matInput
            required
            #productList
            name="sellingProduct"
            id="productList"
            placeholder="Product"
            [formControl]="productControl"
            [matAutocomplete]="autoList"
            (click) = "productList.select()">
          <mat-autocomplete autoActiveFirstOption #autoList="matAutocomplete" [displayWith]="productNameDisp">
            <mat-option *ngFor="let product of filteredProducts | async" [value]="product">
              {{product.name + ' - ' + product.productType.name}}
            </mat-option>
          </mat-autocomplete>
          <mat-hint>Product to Sell !!</mat-hint>
          <mat-error *ngIf="productControl.errors && productControl.errors.required">
            Please select a Product to sell !!
          </mat-error>
          <mat-error *ngIf="productControl.errors && !productControl.errors.required">
            No Such Product !!
          </mat-error>
        </mat-form-field>
        <div class="button-group">
          <button mat-raised-button color='primary' type="button" (click)="saveButtonPressed()">
            Save
          </button>
          <button mat-raised-button color='accent' type="button" (click)="saveAndBillButtonPressed()">
            Save & Bill
          </button>
        </div>
      </div>
    </div>
  </div>
</div>