@import 'src/styles/variables';

.billing-body {
    display: grid;
    justify-content: center;
    align-items: center;
    height: max(100% - 4rem, 468px);
}

.print-body {
    display: grid;
    justify-content: center;
    align-items: center;
}

.paper {
    margin-top: 5vh;
    width: 874px;

    .bill-body {
        display: flex;
        justify-content: space-around;
    }
}

.print-bill-button {
    color: $hover-text-color-light;
    background: $blue;
    transition: $transition-time;

    &:hover:not([disabled]) {
        color: $hover-text-color-dark;
        background: $green;
    }
}